.container {
    display:flex;
    width: 400px;
    height:75vh;
    border:5px solid black;
    border-radius: 5px;
    flex-direction: column;
    margin: auto;
}
.display {
    display:flex;
    justify-content: flex-end;
    flex:1;
    font-size: 50px;
    background-color: beige;
}
.buttons {
    display:flex;
    flex-wrap:wrap;
    flex:4;
}

button{
    background-color: burlywood;
    flex:1 25%;
}

.btn-clear,
.btn-operator{
    background-color: orange;
}
.btn-equals{
    background-color: lightgreen;
}